html body {
	button,
	.button,
	.form-submit {
		font-family: 'Raleway', sans-serif;
		font-size: @font-size-xs;
	  height: 35px;
	  line-height: 34px;
	  color: @white;
	  background-color: @green-light;
	  border: none;
	  letter-spacing: 0.1rem;
	  -webkit-transition: 0.3s opacity ease;
	  -o-transition: 0.3s opacity ease;
	  transition: 0.3s opacity ease;
	  text-transform: uppercase;
	  cursor: pointer;
	}

	.fc button {
		font-size: 0.8em;
		// font-weight: @font-weight-heavy;
		line-height: 25px;
	}
}