
@green: #22B36C;
@green-dark: #012010;
@grey-light: #F5F5F5;
@white: #ffffff;

@baseSpacing: 30px;
@borderRadius: 20px;
@boxShadow: 0 0 6px -1px @grey-light;

@font-size-xs: 11px;
@font-size-sm: 14px;
@font-size-md: 18px;
@font-size-lg: 22px;