
@green: #22B36C;
@green-dark: #012010;
@green-light: #1abc9c;
@grey-light: #F5F5F5;
@grey-dark: #E3E3E3;
@white: #ffffff;

@baseSpacing: 30px;
@borderRadius: 20px;
@border: 1px solid @grey-light;
@boxShadow: 0 3px 8px 1px @grey-dark;

@font-size-xs: 11px;
@font-size-sm: 14px;
@font-size-md: 18px;
@font-size-lg: 22px;

// @font-weight-heavy: 500;